.heading {
    font-size: 1.2em;
    font-weight: bold;
}

canvas {
    border: 1px solid black;
}

label {
    padding-right: 0.5em;
}

.popover {
    background: rgba(0, 0, 0, 50%);
    z-index: 999999;
    position: absolute;
    top: 150vh;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover>div {
    background: white;
    width: 80%;
    height: 80%;
    border: 3px solid black;
    padding: 1em;
}

.popover:target {
    top: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.padding {
    padding: 0.25em;
}

main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.wrapping {
    flex-wrap: wrap;
}

.expanding {
    flex: 1;
}

.distribute {
    justify-content: space-evenly;
}

.scroller {
    overflow: auto;
    border: 1px solid black;
    padding: 1em;
}

table,
td,
th {
    padding: 0.4em;
    border: 1px solid black;
    border-collapse: collapse;
}
